body{
    background-color: black;
}
.cont{
    position: relative;
    background-color: rgb(22, 22, 21);
    min-height: 300px;
    max-height:auto;
    width: 400px;
    text-align: center;
    margin: auto;
    margin-top: 200px;
    color: #fff;
    border-radius: 7px;
}
#product-list{
    width: 100%;
    /* margin: 10px; */
    padding-left: 0;
    
    
}
.product{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 0.2px solid rgb(41, 39, 39);
    height: 30px;
    background-color: rgb(41, 39, 39);
    border-radius: 5px;
    /* justify-content: center; */
    align-items: center;
    padding: 5px;
    font-size: larger;

}

.add{
    background-color: rgb(79, 34, 229);
    transition: background-color,0.3s;
    color: #fff;
    border: none;
    border-radius: 3px;
    height: 30px;
}

.add:hover{
    cursor: pointer;
    background-color: rgb(65, 20, 200);

}
#shopping-cart{
    min-height: 50px;
    max-height: auto;
}


#checkout{
    background-color: rgb(79, 34, 229);
    transition: background-color,0.3s;
    color: #fff;
    border: none;
    border-radius: 3px;
    height: 30px;
}
#checkout:hover{
    cursor: pointer;
    background-color: rgb(65, 20, 200);
}

#checkout-box{
    height: auto;
    /* width: 100%; */
    /* position: absolute; */
    width: 90px;
    /* margin-bottom: 0; */
    margin-left: 70%;
    margin-bottom: 10px;
    display: inline-block;
    /* padding-right: 0; */

}

.hidden{
    visibility: hidden;
}


.removebtn{
    background-color: rgb(229, 34, 34);
    transition: background-color,0.3s;
    color: #fff;
    border: none;
    border-radius: 3px;
    height: 20px;
    width: 80px;
}

.removebtn:hover{
    cursor: pointer;
    background-color: rgb(200, 20, 20);
}